services:
  mongodb:
    image: mongo:8.0.9
    container_name: mongodb
    hostname: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data-volume:/data/db
    networks:
      - core-network
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

volumes:
  mongodb-data-volume:
    name: mongodb-data-volume

networks:
  core-network:
    external: true
