services:
  klurigo-gh-runner-1:
    image: myoung34/github-runner:2.328.0
    container_name: klurigo-gh-runner-1
    restart: unless-stopped
    env_file: ./stack.env
    environment:
      - REPO_URL=https://github.com/emilhornlund/klurigo
      - RUNNER_NAME=klurigo-docker-runner-1
    security_opt:
      - label:disable
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - klurigo-gh-runner-data-volume:/runner/data
      - klurigo-gh-runner-tmp-volume:/tmp/runner
    networks:
      - core-network

volumes:
  klurigo-gh-runner-data-volume:
    name: klurigo-gh-runner-data-volume
  klurigo-gh-runner-tmp-volume:
    name: klurigo-gh-runner-tmp-volume

networks:
  core-network:
    external: true
